# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Build / distribution
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# IDE
.vscode/
.idea/
